<div>
  <h4>Order Book</h4>
  <div class="d-flex">
    <div class="p-2">
      <span>Total Orders: 1</span>
    </div>
    <div class="p-2 ml-auto">
      <label for="tokenChoice">Token:</label>
      <select id="tokenChoice">
        <option>All Tokens</option>
        <option>OMG</option>
        <option>EOS</option>
        <option>QTUM</option>
        <option>TAAS</option>
      </select>
      <span>Filter Active Orders <input type="checkbox"></span>
    </div>
  </div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Order Date <i class="fa fa-long-arrow-up"></i><i class="fa fa-long-arrow-down"></i></th>
        <th>Units <i class="fa fa-long-arrow-up"></i><i class="fa fa-long-arrow-down"></i></th>
        <th>Ask Price <i class="fa fa-long-arrow-up"></i><i class="fa fa-long-arrow-down"></i></th>
        <th>Expiration <i class="fa fa-long-arrow-up"></i><i class="fa fa-long-arrow-down"></i></th>
        <th>Total Cost <i class="fa fa-long-arrow-up"></i><i class="fa fa-long-arrow-down"></i></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2017-12-12 12:34 pm</td>
        <td>1500 OMG</td>
        <td>0.5 ETH</td>
        <td>2017-12-31 11:59 pm</td>
        <td>750 ETH</td>
        <td>
          <button>Buy</button>
        </td>
      </tr>
      <tr>
        <td>2017-12-12 12:34 pm</td>
        <td>1500 OMG</td>
        <td>0.5 ETH</td>
        <td>2017-12-31 11:59 pm</td>
        <td>750 ETH</td>
        <td>
          <button>Buy</button>
        </td>
      </tr>
      <tr>
        <td>2017-12-12 12:34 pm</td>
        <td>1500 OMG</td>
        <td>0.5 ETH</td>
        <td>2017-12-31 11:59 pm</td>
        <td>750 ETH</td>
        <td>
          <button>Buy</button>
        </td>
      </tr>
      <tr>
        <td>2017-12-12 12:34 pm</td>
        <td>1500 OMG</td>
        <td>0.5 ETH</td>
        <td>2017-12-31 11:59 pm</td>
        <td>750 ETH</td>
        <td>
          <button>Buy</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="container-fluid d-flex">
    <div class="p-2">
      <label for="gridDisplayRows">Display rows:</label>
      <select id="gridDisplayRows">
        <option>10</option>
        <option>20</option>
        <option>30</option>
        <option>40</option>
      </select>
    </div>
    <div  class="ml-auto p-2">
      <a href="#">First</a>
      <a href="#">Previous</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">Next</a>
      <a href="#">Last</a>
    </div>
  </div>
</div>
