<ng-template #mainmodal let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Modal Title Here</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>Main site wide modal &hellip; - use this for site wide alerts and stuff</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
	</div>
</ng-template>