<!--
<div style="text-align:center">
  <h1>
    Welcome to SmartDEX!
  </h1>
  <img src="assets/img/abstract-s.jpg">
</div>
<h2>Content Here</h2>
-->
<div class="bg-light">
  <app-header></app-header>
  <app-menu></app-menu>
  <div class="container-fluid bg-light">
    <app-order-book></app-order-book>
    <app-sell-orders></app-sell-orders>
    <app-order-history></app-order-history>
  </div>
  <app-footer></app-footer>
</div>

<!-- test component -->
<div>
	<app-test-component></app-test-component>
</div>
