
<div style="margin: 10px; padding: 10px; background-color: #eee;">
	<h4>API Testing: (Paginated Order List)</h4>
	<table>
		<tr>
			<th>Order No.</th>
			<th>Maker</th>
			<th>Sell</th>
			<th>Amount</th>
		</tr>
		<tr *ngFor="let order of paginatedOrderList.data">
			<td>{{order.order_number}}</td>
			<td>{{order.maker}}</td>
			<td>{{order.sell_currency}}</td>
			<td>{{order.sell_amount}}</td>
		</tr>
	</table>
	<p>
		Page: {{paginatedOrderList.page}} | Per Page: {{paginatedOrderList.perPage}}
		| Total: {{paginatedOrderList.total}}
	</p>
</div>


